{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    
<div class="grid-container">
    {% for product in products %}
    <div class="grid-item">   
        <div class="box-element product">
            <img class="card-image" src="{{product.imageURL}}">
            <div class="card-body">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button data-product={{product.id}} data-action="add" class="btn add-btn update-cart left-btn">Add to Cart</button>
                    
                <h4 style="display: inline-block;float: right">${{product.price| floatformat:2}}</h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}